html, body {
    /* background-color: rgb(58, 57, 57); */
    background-color: rgb(29, 29, 29);
    
}

/* SVE OVO JE ZA NAVBAR, DESKTOP I MOB*/
nav {
    display: inline;
   
    
}

.izbornik {
    display: inline-block;
	overflow:hidden;
    padding: 0;
    margin-top: 50px;
	background-color: black;
	border: 2px solid rgb(224, 176, 20);
	border-radius: 20px;
    float: right;
}

li {
    display: inline-block;
	list-style: none;
    top: 0;	
}

li a {
	display: inline-block;
	font-size: 17px;
	color: rgb(224, 176, 20);
	padding: 14px;
	text-decoration: none;
	transition-duration: 0.5s;
    top: 0;
}

li a:hover {
	background-color: white;
	color: black;
}

.hamburger{
	display: none;
	cursor: pointer;
	float: right;
    margin-top: 50px;
    margin-right: 20px;
}



@media(max-width:1000px){
    /* HAMBURGER I NJEGOVA TRANZICIJA */
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(224, 176, 20);
    }
	.hamburger{
		display: block;
	}
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}	
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.izbornik{
		position: fixed;
		left: 100%;
		top: 100px;
		flex-direction: column;
        background-color: black;
		width: 80%;
		text-align: center;
		transition: 0.3s;
	}
	.izbornik.active{
		left: 40px;
	}
}
/* SVE OVO JE ZA NAVBAR, DESKTOP I MOB*/

/* #pozadinskaSlika {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#pozadinskaSlika img {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
} */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background: grey;
    height: 40px;
    padding-top: 20px;
}

#srce {
    text-decoration: none;
}

#logo {
    padding: 20px;
    
}

#winter_video {
    display: block;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(224, 176, 20);
    margin-bottom: 500px;
}

